/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Cc]ap_out/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# Memory dumps
*.apk
*.unitypackage
*.bundle

# IDE files
*.csproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db
.vs/
.idea/
.gradle/